/*Jumbotron styling*/
.jumbotron {
    background-color: rgb(39, 4, 39); 
}

.display-4 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: silver;
    text-align: center;
    font-weight: bold;
}

.lead {
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: silver;
    text-align: center;
    font-style: italic;
}

/*Card align styling*/

.card {
    background-color: slategray;
}

.card-body {
    background-color: silver;
    border-style: groove;
    border-color: slategray;
    border-width: 15px;
}

.mt-0 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  rgb(39, 4, 39);
    text-align: left;
    background-color: silver;
    
}

p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(39, 4, 39);
    text-align: inherit;
    
}

.card-title {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(39, 4, 39)

}

.photo {
    border-color: black;
    border-style: groove;
    border-width: 3px;
}
